name: Deploy to EC2 with Docker

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.GPIT_KEY }}
          port: 22
          script: |
            cd ~
            rm -rf gpit
            git clone https://github.com/EmnaMansour/gpit.git
            cd gpit

            # Créer le .env pour backend
            echo "MONGO_URI=${{ secrets.MONGO_URI }}" > ./backend/.env
            echo "PORT=${{ secrets.PORT }}" >> ./backend/.env
            echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> ./backend/.env
            echo "EMAIL_USER=${{ secrets.EMAIL_USER }}" >> ./backend/.env
            echo "EMAIL_PASS=${{ secrets.EMAIL_PASS }}" >> ./backend/.env
            echo "VITE_API_URL=${{ secrets.VITE_API_URL }}" >> ./frontend/.env

            # Déployer avec Docker
            docker-compose down
            docker-compose build
            docker-compose up -d
