name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Étape 1 : Récupérer le code
      - uses: actions/checkout@v4

      # Étape 2 : Déploiement via SSH
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}       # IP publique EC2
          username: ubuntu                    # Utilisateur SSH
          key: ${{ secrets.GPIT_KEY }}       # Clé privée SSH stockée comme secret
          port: 22
          script: |
            # Aller dans le dossier ou cloner le repo
            cd ~/gpit || git clone https://github.com/EmnaMansour/gpit.git
            cd gpit

            # Mettre à jour le code
            git pull

            # Construire et démarrer les conteneurs Docker
            docker-compose up -d --build
