name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Étape 1 : Récupérer le code (fondamental)
      - uses: actions/checkout@v4

      # Étape 2 : Déploiement via SSH
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}       # IP publique EC2
          username: ubuntu                    # Utilisateur SSH
          key: ${{ secrets.GPIT_KEY }}        # Clé privée SSH
          port: 22
          script: |
            # Supprimer l'ancien dossier
            rm -rf ~/gpit

            # Cloner proprement la dernière version
            git clone https://github.com/EmnaMansour/gpit.git ~/gpit
            cd ~/gpit

            # Installer / redémarrer Docker Compose
            docker-compose up -d --build
